@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 70%;
    margin: 100px auto;
}

.top {
    min-height: 150px;
    background-color: #1aa3b8;
    position: relative;
}

.avatar {
    margin-left: 4em;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 140px;
    height: 140px;
    top: 75px;
    text-align: center;
    border: 4px solid #cccccc;
}

.border {
    border-radius: 50%;
    width: 90%;
    height: 90%;
    margin:  5% 5% 5% 5% ;
    border: 10px solid black;
    overflow: hidden;
}

.user-circle {
    width:116%;
    height: 116%;
    margin: -8% -8% -8% -8%;
    filter: invert(100%);
}

.bottom {
    min-height: 350px;
    background-color: white;
    color:black;
    border: 4px solid #cccccc;
}
.address {
    display: flex;
    height: 20px;
    margin-left: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.address img {
    height: 110%;
}

h1 {
    font-weight: bolder;
    margin-top: 70px;
    margin-left: 70px;
    font-size: 40px;
}

h2 {
    margin-left: 1em;
    margin-bottom: .5em;
}

h3{
    margin-left: 70px;
}

.setting {
    display: flex;
    height: 20px;
    margin-left: 70px;
    margin-top: 25px;
}

.edit {
    color: #095494;
    text-decoration: underline;
    margin-left: 1em;
    font-weight: bold;
}
